[Desktop Entry]
Version=1.0
Type=Application
Name=PDC Demo
Comment=Launch sandboxed applications on PDC cluster
Exec=bash -c 'ssh -t -Y pxslogin "cd ~/pdc-demo && ./launcher/slurmlauncher"'
Icon=pdc-demo
Terminal=false
Categories=Utility;


Path=
StartupNotify=false
